@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  font-size: 18px ;
  direction: rtl;
}

:root{
  --text-color:#333333;
  --bg-body:#F9F9F9;
  --bgnavFooter:rgb(232, 232, 232);
  --bg-box:#c5c5c5;
  --active:#000000; 
  --bg-btn:#1f1f1f;
  --btn-color:#caced1;
  --mood:rgb(220, 220, 220);
  --tabka:rgba(57, 56, 56, 0.616);
  --my-btn:#ffffff;
}
.curser{
    cursor: pointer;
}
body{
 
  font-family: "Amiri", serif;
  background-color: var(--bg-body);
}
/* mood */
[mood="dark"]{
  --text-color:#FFFFFF;
  --bg-body:#3f3f3f;
   --bgnavFooter:#121212;
   --bg-box:#252525;
   --active:#15a382; 
   --bg-btn:#cdcdcd;
   --btn-color:#000000;
--mood:rgb(220, 220, 220);
--tabka:rgba(56, 56, 56, 0.616);
--my-btn:#ffffff;
}
.text{
  color: var(--text-color) !important;
}
.bg-card{
  background-color: var(--bgnavFooter);
}
.btn-outline-dark{
  background-color: var(--bgnavFooter) !important;
  color: var(--text-color) !important;
  border:1px solid var(--text-color) !important;
}
.btn-outline-dark:hover{
  background-color: var(--bg-btn) !important;
  color: var(--btn-color) !important;
}
/* loading */
.loader {
    height: 70vh;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation: l1 1s linear infinite alternate;
  }
  .loader:before {
    content:"Loading...";
    color:var(--text-color);
  }
  @keyframes l1 {to{opacity: 0}}


  .number{
    color: var(--text-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px dotted rgb(17, 108, 23);
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.notfound{
  height: 70vh;
}